@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.blog_content {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.blog_text_wrap {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.blog_h1 {
    height: auto;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #021546;
}

.blog_itrm_line {
    width: 40px;
    height: 8px;
    border-radius: 4px;
    background-color: #d0142c;
}

.blog_p {
    max-width: 851px;
    margin-top: 40px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #021546;
}

.blog_artickle {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    justify-content: flex-start;
}

    .blog_artickle:last-child {
        margin-bottom: 120px;
    }

.articke_item {
    margin: 15px;
}

.articke_item_big {
    width: 770px;
    height: 438px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    box-sizing: border-box;
    margin: 15px;
}

.linkblock {
    cursor: pointer;
}

.articke_item_big_text {
    width: 370px;
}

    .articke_item_big_text h1 {
        max-width: 281px;
        max-height: 58px;
        overflow: hidden;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        color: #021546;
        padding-left: 20px;
        padding-right: 20px;
    }

    .articke_item_big_text p {
        max-width: 326px;
        height: 289px;
        overflow: hidden;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 27px;
        letter-spacing: normal;
        color: #021546;
        padding-left: 20px;
        padding-right: 20px;
    }

.articke_item_big_img {
    width: 400px;
    height: 438px;
    object-fit: contain;
    box-sizing: border-box;
    box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    background-color: #d0142c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

    .articke_item_big_img img {
        width: 306px;
        height: 196px;
    }

.articke_item {
    width: 370px;
    height: 438px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    background-color: #ffffff;
}

    .articke_item img {
        max-width: 370px;
        height: 219px;
    }

.articke_item_text h1 {
    max-height: 58px;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    color: #021546;
    padding-left: 20px;
}

.articke_item_text p {
    overflow: hidden;
    max-width: 326px;
    height: 110px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 27px;
    letter-spacing: normal;
    color: #021546;
    padding:0 20px;
}

.artickle_content {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.artickle_text_w {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 90px;
}

.artickle_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog_artickle_img {
    margin-top: 50px;
    max-width: 1200px;
}

    .blog_artickle_img img {
        width: 100%;
        height: auto;
    }

.artickle_p {
    max-width: 1200px;
    margin-top: 40px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #021546;
    margin-bottom: 0;
}

@media (max-width: 1250px) {
    .blog_content {
        padding: 0 30px;
    }
    .blog_artickle {
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 60px;
        justify-content: center;
    }
}

@media (max-width: 865px) {

    .articke_item_big {
        width: 370px;
        height: 876px;
        display: flex;
        flex-direction: column;
    }

    .articke_item_big_text {
        width: 370px;
        height: 438px;
    }

    .articke_item_big_img {
        width: 370px;
    }
}

@media (max-width: 500px) {
    .blog_content {
        padding: 0 0;
    }

    .blog_text_wrap {
        padding: 0 20px;
    }
}

@media (max-width: 376px) {
    .articke_item_big_text, .articke_item, .articke_item img, .articke_item_big, .articke_item_big_img img, .blog_p, .blog_h1 {
        max-width: 300px;
        box-sizing: border-box;
        height: auto;
    }

    .articke_item_big_img {
        max-width: 300px;
    }
    .blog_text_wrap {
        padding: 0 15px;
    }
}
