@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.contact_content {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 90px;
    overflow-x: hidden;
}
.contact_text_wrap {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.contact_h1 {
    width: 81px;
    height: 37px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #021546;
}

.contact_itrm_line {
    width: 40px;
    height: 8px;
    border-radius: 4px;
    background-color: #d0142c;
}

.contact_p {
    margin-top: 40px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #021546;
}
.content_phones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-top: 25px;
    margin-bottom: 90px;
}
.content_phones_item{
    display: flex;
    flex-direction: row;
}
.content_phones_item p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #021546;
}
.contact_content_geo{
    display: flex;
    padding: 0 15px;
    
}
.contact_content_geo_text{
 margin-left: 70px;
}
.contact_content_geo_text_location{
    display: flex;
    flex-direction: row;
}
.contact_content_geo_img{
    width: 418px;
    height: 412px;     
    border-radius:50%;
}
.contact_content_geo_text p{
    width: 261px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.67px;
  color: #021546;
}
.contact_content_geo_text_location p{
    width: 124px;
  height: 32px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #021546;
  margin-left: 15px;
  margin-top: 15px;
}
.contact_content_geo_text_location img{
    margin-top: 22px;
    width: 18px;
    height: 18px;
}
.content_phones_item img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    padding-top: 24px;
}
.contact_content_geo_blockimg{
display: block;
margin-top: 150px;
margin-left: -125px;
}
.contact_content_geo_blockimg1{
    width: 417px;
    height: auto;
    position: relative;
    z-index: 3;
}
.contact_content_geo_blockimg2{
    width: 412px;
  height: 373px;
 margin-top: -340px;
  margin-left: 100px;
  z-index: 1;
}
.contact_content_geo_text1{
    display: none;
}
@media (max-width: 1250px) {
    .contact_content {
        padding: 0 30px;
        margin-bottom: 50px;
    }
    .contact_content_geo{
        display: flex;
        padding: 0 15px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contact_content_geo_blockimg{
        width: 510px;
        margin-left: 0px;
    }
    .contact_content_geo_text1{
        display: block;
        margin-bottom: 50px;
    }
    .contact_content_geo_text_location{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contact_content_geo_text1 p{
        text-align:center;
        width: 270px;
        height: 24px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.67px;
        color: #021546;
    }
    .contact_content_geo_text_location p{
        width: 150px;
      height: 24px;
      font-family: Montserrat;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.67px;
      color: #021546;
      margin-left: 10px;
    }
    .contact_content_geo_text_location img{
        margin-top: 22px;
        width: 18px;
        height: 18px;
        margin-left: 0px;
    }
    .contact_content_geo_text{
        display: none;
       }
       .content_phones{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .contact_content_geo_blockimg{
        margin-top: 70px;
    }
}

@media (max-width: 550px) {
    .contact_content{
        padding:0 15px;
    }
    .contact_content_geo_img {
        width: 300px;
        height: auto;
    }
    .contact_content_geo_blockimg{
        width: 300px;
    }
    .contact_content_geo_blockimg1{
        width: 200px;
        height: auto;
    }
    .contact_content_geo_blockimg2{
        width: 197px;
        height: auto;
    }
}