@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #fbfcfd;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
}

.phone_fix {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

    .phone_fix img {
        width: 100px;
        height: 100px;
    }

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-top: 13px;
    z-index: 1000;
}

.menu_mobile {
    display: none;
}

    .menu_mobile input + label {
        position: fixed;
        top: 20px;
        right: 20px;
        height: 40px;
        width: 40px;
        z-index: 1005;
    }

        .menu_mobile input + label span {
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            display: block;
            background: #00237d;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }

            .menu_mobile input + label span:first-child {
                top: 3px;
            }

            .menu_mobile input + label span:last-child {
                top: 37px;
            }

    .menu_mobile label:hover {
        cursor: pointer;
    }

    .menu_mobile input:checked + label span {
        opacity: 0;
        top: 50%;
    }

        .menu_mobile input:checked + label span:first-child {
            opacity: 1;
            -webkit-transform: rotate(405deg);
            -ms-transform: rotate(405deg);
            transform: rotate(405deg);
        }

        .menu_mobile input:checked + label span:last-child {
            opacity: 1;
            -webkit-transform: rotate(-405deg);
            -ms-transform: rotate(-405deg);
            transform: rotate(-405deg);
        }

    .menu_mobile input ~ nav {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0px;
        z-index: 3;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        -webkit-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
        overflow-x: hidden;
    }

        .menu_mobile input ~ nav > ul {
            text-align: right;
            position: absolute;
            top: 100px;
            right: 0;
        }

            .menu_mobile input ~ nav > ul > li {
                opacity: 0;
                -webkit-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                -webkit-transition-delay: 0s;
                -o-transition-delay: 0s;
                transition-delay: 0s;
            }


            .menu_mobile input ~ nav > ul > li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-transform: uppercase;
                color: #00237d;
                display: block;
                padding: 0 20px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                line-height: 30px;
                width: 280px;
                flex-wrap:nowrap;
            }

                .menu_mobile input ~ nav > ul > li > a {
                    text-transform: uppercase;
                    color: #00237d;
                    display: block;
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: 700;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    line-height: 35px;
                }

.tel_menu {
    margin-top: 30px;
}

.menu_mobile input:checked ~ nav {
    height: 100%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #fbfcfd;
}

    .menu_mobile input:checked ~ nav > ul > li {
        opacity: 1;
        -webkit-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
        width: 280px;
    }

.menu_mobile input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 3;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    overflow-x: hidden;
}

    .menu_mobile input ~ nav > ul {
        text-align: right;
        position: absolute;
        top: 100px;
        right: 0;
        list-style: none;
    }

#menu_span2 {
    background-color: #00237d;
    margin-top: 10px;
    width: 249px;
    height: 42px;
    border-radius: 21px;
}

    #menu_span2 a {
        color: #fff;
        text-align: center;
        margin-top: -0px;
        font-weight: 700;
    }

.menu_mobile input ~ nav > ul > li {
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

    .menu_mobile input ~ nav > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #00237d;
        font-weight: 700;
        font-family: sans-serif;
        display: block;
    }

    .menu_mobile input ~ nav > ul > li > img {
        padding-top: 10px;
        margin-left: 10px;
        width: 20px;
        height: 20px;
    }

.menu_mobile input:checked ~ nav {
    height: 100%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

    .menu_mobile input:checked ~ nav > ul > li {
        opacity: 1;
        -webkit-transition-delay: .5s;
        -o-transition-delay: .5s;
        transition-delay: .5s;
    }

.header_logo img {
    width: 185px;
    height: 59px;
}

.header_logo2 {
    display: none;
}

.menu {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

    .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        width: 910px;
        height: 22px;
        list-style: none;
        padding-left: 200px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 20px;
    }

    .menu li a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #021546;
    }

        .menu li a:hover {
            padding-bottom: 14px;
            border-bottom: solid 2px #ec5d36;
        }

.menu_span {
    width: 229px;
    height: 42px;
    border-radius: 21px;
    background-color: #00237d;
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.menu .menu_span a {
    text-align: center;
    width: 185px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 10px;
}

    .menu .menu_span a:hover {
        border-bottom: none;
    }

.menu_span:hover a {
    color: #00237d;
    margin-top: 8px;
}

.menu_span:hover {
    background-color: #ffffff;
    border: 2px solid #00237d;
}

.contact_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 285px;
    height: 0px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    background-color: #ffffff;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 16px;
    overflow: hidden;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sub_menu_levels {
    height: 0;
    overflow-y: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .sub_menu_levels a {
        margin: 9px 0;
        height: auto;
        max-width: 270px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.78;
        letter-spacing: normal;
        color: #00237d;
        overflow-x: hidden;
        text-align: center;
    }

.contact_menu_levels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 285px;
    height: 0px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.11);
    background-color: #ffffff;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 16px;
    overflow-x: hidden;
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact_menu p {
    margin: 9px 0;
    height: 32px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #070e16;
}

.contact_menu_levels a {
    margin: 9px 0;
    height: auto;
    max-width: 270px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.78;
    letter-spacing: normal;
    color: #070e16;
    overflow-x: hidden;
    text-align: center;
}

    .contact_menu_levels a:hover {
        color: grey;
    }

    .contact_menu_levels a:first-child {
        margin-top: 24px;
    }

    .contact_menu_levels a:last-child {
        margin-bottom: 24px;
    }

.li_hover:hover .contact_menu {
    height: 230px;
}

.contact_menu p:first-child {
    margin-top: 24px;
}

.contact_menu p:last-child {
    margin-bottom: 24px;
}

.contact_menu img {
    width: 15px;
    height: 15px;
    margin-left: 40px;
    margin-right: 20px;
}

.li_hover:hover .contact_menu_levels {
    height: auto;
}

footer {
    width: 100%;
    background-color: #00237d;
}

.flex_footer {
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
}

.block_footer_menu {
    width: 90%;
    margin: 0 auto;
}

.footer_logo img {
    width: 245px;
    height: 78px;
    margin-top: 65px;
    margin-left: 0px;
}

.footer_menu {
    margin-top: 75px;
}

.footer_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1165px;
    margin: 0 auto;
}

.footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer_menu li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 40px;
}

    .footer_menu li a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

        .footer_menu li a:hover {
            color: #d0142c;
        }

.block_footer_sicial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1165px;
    margin-top: 33px;
}

    .block_footer_sicial img {
        width: 25px;
        height: 25px;
        margin-left: 20px;
    }

.block_footer_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_text {
    width: 214px;
    height: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 120px;
    text-align: center;
}

@media (max-width: 1439px) {


    .footer_logo img {
        margin-left: 50px;
    }
}

@media (max-width: 1250px) {
    .menu {
        display: none;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: fixed;
        background-color: #fff;
        height: 65px;
        width: 100%;
        -webkit-box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.219);
        box-shadow: 0 5px 17px 0 rgba(14, 27, 43, 0.219);
        top: 0;
        z-index: 999;
    }

    .header_logo {
        position: absolute;
        z-index: 1000;
        padding-left: 10px;
        background-color: white;
        width: 100%;
        height: 60px;
        margin-top: -15px;
        padding-top: 15px;
    }

    .header_logo2 {
        position: absolute;
        display: none;
        z-index: 1002;
        margin-left: 10px;
    }

        .header_logo2 img {
            width: 185px;
            height: 59px;
        }

    main {
        padding-top: 70px;
    }

    .menu_mobile {
        display: block;
    }

    .flex_footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer_menu {
        margin-top: 25px;
        margin-left: 0;
        padding: 0;
        margin-right: -5px;
    }

    .footer_logo img {
        margin-left: 0px;
    }

    .footer_menu ul {
        padding-right: 80px;
    }

    .block_footer_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_menu ul {
        width: 200px;
        height: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .block_footer_sicial {
        margin-right: 20px;
        margin-top: 33px;
        margin-left: 0;
    }
    .block_footer_text{
        margin-top:-60px;
    }
}

@media (max-width: 500px) {
    .phone_fix img {
        width: 60px;
        height: 60px;
    }

    .footer_menu ul {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
