﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - ABC Club</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/jquery.bxslider.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

</head>
<body>
    <div id="p_prldr"><div class="contpre"><span class="svg_anm"></span></div></div>

    <header>
        <div class="header_logo">
            <a href="@Url.Action("Index", "Home")"><img src="~/Imgs/logo.png" alt="ABC club"></a>
        </div>
        <div class="header_logo2">
            <a href="@Url.Action("Index", "Home")"> <img src="~/Imgs/logofooter.png" alt="ABC club"></a>
        </div>
        <div class="menu">
            <ul>
                <li class="li_hover">
                    <a>Направления</a>
                    <div class="contact_menu_levels">
                        @Html.Action("LevelAction", "Home")
                    </div>
                </li>
                <li>@Html.ActionLink("Блог", "Articles", "Home")</li>
                <li class="li_hover">
                    @Html.ActionLink("Контакты", "Contacts", "Home")
                    <div class="contact_menu">
                        <p><img src="~/Imgs/phone.png" alt="phone"> +38(067) 539 98 78 </p>
                        <p><img src="~/Imgs/phone.png" alt="phone"> +38(050) 539 98 78 </p>
                        <p><img src="~/Imgs/mail.png" alt="mail"> info@gmail.com </p>
                        <p><img src="~/Imgs/map.png" alt="map"> пр. Героев 17 </p>
                    </div>
                </li>
                <li class="menu_span"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf6vn8VCMmj1onc78fmcd4aV7VneKST2PsKoB3Hn_H7EjFBeQ/viewform?usp=sf_link">Записаться на курс</a></li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                    }
                }
            </ul>
        </div>
        <div class="menu_mobile">
            <input id="burger" type="checkbox" />

            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav>
                <ul class="sub-menu">
                    <li><a class="nav_link" href="/Home/Articles?Length=4">Блог</a></li>
                    <li><a href="/Home/Contacts">Контакты</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf6vn8VCMmj1onc78fmcd4aV7VneKST2PsKoB3Hn_H7EjFBeQ/viewform?usp=sf_link">Записаться на курс</a></li>
                    <li class="sub_menu_li_hover" onclick="submenu(this)">
                        <a>Направления</a>
                        <div class="sub_menu_levels">
                            @Html.Action("LevelAction", "Home")
                        </div>
                    </li>

                    <li class="tel_menu">СВЯЖИТЕСЬ С НАМИ</li>
                    <li>+38(067) 539 98 78</li>
                    <li>+38(050) 539 98 78</li>
                    <li>info@gmail.com<img src="/Imgs/mail.png" alt="mail"></li>
                    <li>пр. Героев 17<img src="/Imgs/map.png" alt="map"></li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <link rel="import" href="~/Views/Home/import.html">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Добавить направление", "AddLevel", "Home")
        }
        @RenderBody()
    </main>
    <footer>
        <div class="flex_footer">
            <div class="block_footer_menu">

                <div class="footer_box">

                    <div class="footer_logo">
                        <img src="~/Imgs/logofooter.png" alt="ABC club">
                    </div>

                    <div class="footer_menu">
                        <ul>
                            <li>@Html.ActionLink("Блог", "Articles", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="block_footer_sicial">
                <a href=""><img src="~/Imgs/fb@3x.png" alt=""></a>
                <a href=""><img src="~/Imgs/inst@3x.png" alt=""></a>
                <a href=""><img src="~/Imgs/youtube@3x.png" alt=""></a>
            </div>
            <div class="block_footer_text">
                <p class="footer_text">
                    Разработано IPgroup (c) 2019
                </p>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $('.slider').bxSlider();
        });
        function submenu(el) {
            if ($(el).hasClass("clicked")) {
                $(el).children(".sub_menu_levels").css("height", "0");
                $(el).removeClass("clicked")
            } else {
                $(el).addClass("clicked");
                $(el).children(".sub_menu_levels").css("height", "auto");
            }
        }
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            var $preloader = $('#p_prldr'),
                $svg_anm = $preloader.find('.svg_anm');
            $svg_anm.fadeOut();
            $preloader.delay(500).fadeOut('slow');
        });</script>
</body>
</html>
