﻿@using Microsoft.AspNet.Identity

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    }
