﻿@model ABCClub.Domain.Core.Tariff
    <div class="main_block_prices_item">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Редактировать", "EditTariff", new { id = Model.Id }, htmlAttributes: new { })
            @Html.ActionLink("Удалить", "DeleteTariff", new { id = Model.Id }, htmlAttributes: new { })
        }
        <p class="main_block_prices_item_p">
            @Model.LessonNum уроков
        </p>
        <p class="main_block_prices_item_price">
            @{double priceForLesson = Model.Price / Model.LessonNum;}@priceForLesson <span>грн</span>
        </p>
        <p class="main_block_prices_item_price_p">
            за урок
        </p>
        <div class="main_block_prices_item_line"></div>
        <p class="main_block_prices_item_price_descr">
            @Model.Price грн
        </p>
        <div class="main_block_prices_item_but">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf6vn8VCMmj1onc78fmcd4aV7VneKST2PsKoB3Hn_H7EjFBeQ/viewform?usp=sf_link">Записаться</a>
        </div>
    </div>