﻿@model ABCClub.Domain.Core.Article
    <div class="articke_item_big linkblock" onclick="location.href='@Url.Action("Article", "Home", new { id = Model.Id })'">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Редактировать", "EditArticle", new { id = Model.Id }, htmlAttributes: new { })
            @Html.ActionLink("Удалить", "DeleteArticle", new { id = Model.Id }, htmlAttributes: new { })
        }
        <div class="articke_item_big_text">
            <h1>
                @Model.Title
            </h1>
            <p> @Model.Description </p>
        </div>
        <div class="articke_item_big_img">
            <img src="~/Images/@Model.Image" alt="">
        </div>
    </div>