﻿@{
    ViewBag.Title = "Add article";
}
@using (Html.BeginForm("AddArticle", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdd" }))
{
    <h1>Создание статьи</h1>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <textarea placeholder="Название статьи" rows="20" cols="20" name="article.Title"></textarea>
    <textarea placeholder="Описание статьи" rows="20" cols="20" name="article.Description"></textarea>
    <div>
        <p>Картинка статьи</p>
        <img height="100px" src="" alt="Выберите картинку" />
        <input required type="file" name="image" value="" onchange="previewImage(this)" />
    </div>
    <div class="divAdd">

    </div>
    <input type="submit" name="" value="Сохранить">
}
<button id="addText">Добавить абзац</button>
<button id="addImage">Добавить картинку</button>
<div>
    @Html.ActionLink("Вернуться к списку", "Articles")
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $("#addText").click(function () {
        $(".divAdd").append('<div><button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button><textarea required placeholder="Новый абзац" rows="5" cols="20" name="array"></textarea></div>');
    });
    $("#addImage").click(function () {
        $(".divAdd").append('<div><button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button><input type="hidden" name="images" value="" /><input type="hidden" name="array" value="" /><img height="100px" src="" alt="Выберите картинку" /><input required type="file" name="uploads" value="" onchange="previewImage(this)"/></div>');
    })
    function deleteEl(el) {
        $(el).parent().remove();
    }
    function previewImage(elm) {
        var preview = $(elm).parent().children('img');
        var file = $(elm).prop('files')[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.attr("src", reader.result);
            $(elm).parent().children(".imageInput").val("");
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>