﻿@{
    ViewBag.Title = "Add Level";
}
@using (Html.BeginForm("AddLevel", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdd" }))
{
    <h1>Создание статьи</h1>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <textarea required placeholder="Название направления" rows="20" cols="20" name="level.Title"></textarea>
    <textarea required placeholder="Заголовок первого абзаца" rows="20" cols="20" name="level.FirstParagraphTitle"></textarea>
    <div>
        <p>Картинка первого абзаца</p>
        <img height="100px" src="" alt="Выберите картинку" />
        <input required type="file" name="firstImage" value="" onchange="previewImage(this)" />
    </div>
    <textarea required placeholder="Первый абзац" rows="20" cols="20" name="level.FirstParagraph"></textarea>

    <textarea required placeholder="Заголовок второго абзаца" rows="20" cols="20" name="level.SecondParagraphTitle"></textarea>
    <div>
        <p>Картинка второго абзаца</p>
        <img height="100px" src="" alt="Выберите картинку" />
        <input required type="file" name="secondImage" value="" onchange="previewImage(this)" />
    </div>
    <textarea required placeholder="Второй абзац" rows="20" cols="20" name="level.SecondParagraph"></textarea>
    <input type="submit" name="" value="Сохранить">
}
<div>
    @Html.ActionLink("Вернуться к списку", "Levels")
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    function previewImage(elm) {
        var preview = $(elm).parent().children('img');
        var file = $(elm).prop('files')[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.attr("src", reader.result);
            $(elm).parent().children(".imageInput").val("");
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>