﻿@model ABCClub.Models.ViewModels.CategoriesGroupModel
@{
    ViewBag.Title = "Add tariff";
}

@using (Html.BeginForm("AddTariff", "Home", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <h1>Добавление тариффа</h1>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="text" name="tariff.Price" id="price" placeholder="Цена" />
    <input type="text" name="tariff.LessonNum" id="lessonNum" placeholder="Кол-во уроков" />
    <select name="tariff.groupId">
        @foreach (var item in Model.groups)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <select name="tariff.categoryId">
        @foreach (var item in Model.categories)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <input type="submit" name="" value="Сохранить">
    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
}

