﻿@model List<ABCClub.Domain.Core.Article>
@{
    ViewBag.Title = "Blog";
}
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Добавить", "AddArticle", new { }, htmlAttributes: new { })
}
<div class="blog_content">
    <div class="blog_text_wrap">
        <h1 class="blog_h1">
            Блог
        </h1>
        <div class="blog_itrm_line"></div>
        <p class="blog_p">
            Читайте наш блог по изучению английского языка, чтобы узнать
            больше о грамматике, разговорных фразах и международных экзаменах.
            Также авторы готовят для вас туристические разговорники, наборы слов
            для разных профессий, истории студентов школы и другие ценные материалы.
        </p>
    </div>
    <div class="blog_artickle">
        @foreach (var item in Model)
        {
            @*if (Model.First()==item)
            {
                Html.RenderPartial("_ViewLastArticle", item);
            }
            else
            {*@
                Html.RenderPartial("_ViewArticle", item);
            @*}*@


        }
    </div>
</div>



