﻿@model ABCClub.Models.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Article";
}
<div class="artickle_content">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Редактировать", "EditArticle", new { id = Model.article.Id }, htmlAttributes: new { })
        @Html.ActionLink("Удалить", "DeleteArticle", new { id = Model.article.Id }, htmlAttributes: new { })
    }
    <div class="artickle_text_w">
        <h1 class="blog_h1">@Model.article.Title</h1>
        <div class="blog_itrm_line"></div>
        <div class="artickle_text_wrap">

            @foreach (var item in Model.blocks)
            {
                if (item.IsImage)
                {
                    <div class="blog_artickle_img">
                        <img src="~/Images/@item.Text" alt="Article image" />
                    </div>
                }
                else
                {
                    <p class="artickle_p">@item.Text</p>
                }
            }
        </div>
    </div>
</div>
