﻿@{
    ViewBag.Title = "ContentLoad";
}
<style>
    html{
                overflow:hidden;   
    }
    .loadContent {
        display:flex;
        justify-content:center;
        align-items:center;
        height:700px;
        width:100%; 
    }
    .load {
        font-size: 25px;
        font-weight: 900;
        color: #00237d;
margin-top:-100px;
font-family: Montserrat;
text-align:center;

    }

    .loadSvg img{
        width: 100px;
        margin-top: -20px;
    }
</style>
<div class="loadContent">
    <h1 class="load">КОНТЕНТ<br />НА СТАДИИ <br />РАЗРАБОТКИ<br /><div class="loadSvg"><img src="~/Imgs/Ellipsis-3.4s-200px.svg" alt="Alternate Text" /></div></h1>
</div>


