﻿
@{
    ViewBag.Title = "Contacts";
}
<div class="contact_content">
    <div class="contact_text_wrap">
        <h1 class="contact_h1">
            Контакты
        </h1>
        <div class="contact_itrm_line"></div>
        <p class="contact_p">
            Работаем ежедневно с 9:00 до 21:00. <br>
            Свяжитесь с нами любым удобным способом!
        </p>
    </div>
    <div class="content_phones">
        <div class="content_phones_item">
            <img src="~/Imgs/phone.png" alt="phone">
            <p>+38(067) 539 98 78</p>
        </div>

        <div class="content_phones_item">
            <img src="~/Imgs/phone.png" alt="phone">
            <p>+38(050) 539 98 78</p>
        </div>

        <div class="content_phones_item">
            <img src="~/Imgs/mail.png" alt="phone">
            <p>info@gmail.com</p>
        </div>
    </div>

    <div class="contact_content_geo">
        <div class="contact_content_geo_text1">
            <p>Найти нас можешь тут</p>
            <div class="contact_content_geo_text_location" >
                <img src="~/Imgs/map.png" alt="">
                <p>пр. Героев 17</p>
            </div>
        </div>
        <img class="contact_content_geo_img linkblock" onclick="location.href='https://goo.gl/maps/hT3Wd66AwbQKXhji9'" src="~/Imgs/mapscreen.png" alt="">
        <div class="contact_content_geo_text">
            <p>Найти нас можешь тут</p>
            <div class="contact_content_geo_text_location">
                <img src="~/Imgs/map.png" alt="">
                <p>пр. Героев 17</p>
            </div>
        </div>
        <div class="contact_content_geo_blockimg">
            <img class="contact_content_geo_blockimg1" src="~/Imgs/pngtree_british_red_flag_tourist.png" alt="">
            <img class="contact_content_geo_blockimg2" src="~/Imgs/Oval 4.png" alt="">
        </div>
    </div>

</div>
