﻿@model ABCClub.Models.ViewModels.TariffEditModel
@{
    ViewBag.Title = "Edit tariff";
}
@using (Html.BeginForm("EditTariff", "Home", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <h1>Редактирование вопрос-ответ</h1>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.tariff.Id)
    <input type="text" name="tariff.price" id="price" value="@Model.tariff.Price" placeholder="Цена" />
    <input type="text" name="tariff.lessonNum" id="lessonNum" value="@Model.tariff.LessonNum" placeholder="Кол-во уроков" />
    <select name="tariff.group.id">
        @foreach (var item in Model.groups)
        {
            if (Model.tariff.GroupId == item.Id)
            {
                <option selected value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
    <input type="submit" name="" value="Сохранить">
    <div>
        @Html.ActionLink("Вернуться к списку", "Index")
    </div>
}

