﻿@model ABCClub.Models.ViewModels.ArticleViewModel
@{
    ViewBag.Title = "Edit article";
}

@using (Html.BeginForm("EditArticle", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEdit" }))
{
    @Html.AntiForgeryToken()
    <h1>Редактирование статьи</h1>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.article.Id)
<textarea placeholder="Заголовок" name="article.Title" rows="5" cols="20">@Model.article.Title</textarea>
    <textarea placeholder="Описание" name="article.Description" rows="5" cols="20">@Model.article.Description</textarea>
    <div>
        <p>Картинка статьи</p>
        <img height="100px" src="~/Images/@Model.article.Image" alt="Выберите картинку" />
        <input type="file" name="image" value="" onchange="previewImage(this)" />
    </div>
    foreach (var item in Model.blocks)
    {
        if (item.IsImage)
        {
            <div>
                <button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button>
                <img height="100px" src="~/Images/@item.Text" alt="Alternate Text" />
                <input type="hidden" name="array" value="" />
                <input class="imageInput" type="hidden" name="images" value="@item.Text" />
                <input type="file" class="setImage" name="uploads" value="" onchange="previewImage(this)" />
            </div>

        }
        else
        {
            <div>
                <button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button>
                <textarea placeholder="Новый абзац" rows="5" cols="20" name="array">@item.Text</textarea>
            </div>

        }
    }
<div class="divAdd"></div>
    <input type="submit" name="" value="Сохранить">

}
<button id="addText">Добавить абзац</button>
<button id="addImage">Добавить картинку</button>
<div>
    @Html.ActionLink("Вернуться к списку", "Articles")
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $("#addText").click(function () {
        $(".divAdd").append('<div><button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button><textarea required placeholder="Новый абзац" rows="5" cols="20" name="array"></textarea></div>');
    });
    $("#addImage").click(function () {
        $(".divAdd").append('<div><button class="deleteBlock" onclick="event.preventDefault();deleteEl(this);">Delete</button><input type="hidden" name="images" value="" /><input type="hidden" name="array" value="" /><img height="100px" src="" alt="Выберите картинку" /><input required type="file" name="uploads" value="" onchange="previewImage(this)"/></div>');
    })
    function deleteEl(el) {
        $(el).parent().remove();
    }
    function previewImage(elm) {
        var preview = $(elm).parent().children('img');
        var file = $(elm).prop('files')[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.attr("src", reader.result);
            $(elm).parent().children(".imageInput").val("");
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>

