﻿<div id="intro-dm">
    <h2>We're an awesome blog about web design</h2>
    <p>Designmodo is a great resource of informative material for designers and web developers. We are makers of highly-rated User Interface Packs, you can get acquainted with Designmodo shop here, and you can download a couple of other ui packs for free.</p>
</div>