﻿@model ABCClub.Models.ViewModels.TariffViewModel
@{
    ViewBag.Title = "Home";
}

    <div class="block_90">

        <div class="main_block">
            <div class="block_test_header">
                <h1 class="">
                    Do you speak <br> <span>English</span>?
                </h1>
            </div>
            <div class="block_test_text">
                <p class="">
                    Мы вдохновляем учить английский каждый день, а чтобы узнать свой уровень Вы можете пройти тест
                </p>
            </div>
            <div class="block_test_img2">
                <img src="~/Imgs/group-2.png" alt="">
            </div>
            <div class="block_test_button">
                <a href="@Url.Action("ContentLoad","Home")">Пройти тест</a>
            </div>
        </div>

        <div class="block_test_img">
            <img src="~/Imgs/group-2.png" alt="">
        </div>
    </div>
<div class="block_levels">
    <div class="flex_levels">

        <div class="block_levels_item linkblock" onclick="location.href='@Url.Action("Level","Home", new { id =  Model.levels.First(l=>l.Title=="Для детей").Id })';">
            <img src="~/Imgs/oval-5@3x.png" alt="">
            <div class="block_levels_item_text">
                Для детей
            </div>
            <div class="block_levels_item_line"> </div>
        </div>

        <div class="block_levels_item linkblock" onclick="location.href='@Url.Action("Level","Home", new { id =  Model.levels.First(l=>l.Title=="Для подростков").Id })';">
            <img src="~/Imgs/oval-5-copy@3x.png" alt="">
            <div class="block_levels_item_text">
                Для подростков
            </div>
            <div class="block_levels_item_line"> </div>
        </div>

        <div class="block_levels_item linkblock" onclick="location.href='@Url.Action("Level","Home", new { id = Model.levels.First(l=>l.Title=="Для взрослых").Id })';">
            <img src="~/Imgs/oval-5-copy-2@3x.png" alt="">
            <div class="block_levels_item_text">
                Для взрослых
            </div>
            <div class="block_levels_item_line"> </div>
        </div>
    </div>
</div>

<div class="block_test_info">

    <div class="flex_test_info">
        <p class="block_test_info_p">Почему выбирают нас?</p>
        <div class="block_test_item_line"> </div>

        <div class="block_test_info_flex">
            <div class="block_test_info_column">
                <div class="block_test_info_img0">
                    <img src="~/Imgs/open-book@3x.png" alt="">
                    <div class="">
                        <p>Интересная подача</p>
                    </div>
                </div>

                <div class="block_test_info_img1">
                    <img src="~/Imgs/rectangle@3x.png" alt="">
                    <div class="">
                        <p>Персональная программа</p>
                    </div>
                </div>
            </div>
            <div class="block_test_info_column">
                <div class="block_test_info_img2">
                    <img src="~/Imgs/rectangle-11@3x.png" alt="">
                    <div class="">
                        <p>Хорошие цены</p>
                    </div>
                </div>

                <div class="block_test_info_img3">
                    <img src="~/Imgs/group-4@3x.png" alt="">
                    <div class="">
                        <p>Мы всегда рядом</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block_teachers">
    <div class="flex_teachers">
        <p class="block_teachers_p">Наши преподаватели </p>
        <div class="block_info_item_line"> </div>

        <div class="block_teachers_content">
            <div class="block_teachers_content_head">
                <img src="~/Imgs/photo-teacher@3x.png" alt="">

            </div>
            <div class="block_teachers_content_text">
                <h1>Victoria Arsenko</h1>
                <h2>Преподаватель Pre-Intermediate</h2>
                <p>
                    In today’s net-savvy world it has become common for any business
                    to have a website which they use mostly for advertising their
                    products and services. With the advent of search engines it has
                    become even easier for the customers to search for the stuff online.<br><br>

                    For a website to be successful its link should land in the first three
                    pages which the search engine brings and the rank of the page should be high which means
                    many visitors come to the site. This can be achieved by applying search engine optimization
                    or popularly known as SEO.<br><br>

                    This is a marketing strategy which increases the quality and quantity
                </p>
            </div>
        </div>
    </div>

</div>
<div class="main_block_prices">
    
    <div class="main_flex_prices">
        <div class="main_flex_prices_classes_time">
            <p class="main_block_prices_p">Тарифы</p>
            <div class="main_block_info_item_line"> </div>
            <p class="main_block_prices_p_text">
                Открыто показываем стоимость занятий, чтобы вы могли
                спланировать бюджет на английский.
            </p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Добавить", "AddTariff", new { }, htmlAttributes: new { })
            }
            <div>
                @using (Ajax.BeginForm("SearchByCategory", new { }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "main_flex_prices_classes" }))
                {
                    foreach (var item in Model.categories)
                    {
                        if (item.Name == "Для детей")
                        {
                            <div class="class_kids">
                                <input id="@item.Id" type='submit' name='name' class="category" value='@item.Name'>
                            </div>
                        }
                        if (item.Name == "Для подростков")
                        {
                            <div class="class_teenagers">
                                <input id="@item.Id" type='submit' name='name' class="category" value='@item.Name'>
                            </div>
                        }
                        if (item.Name == "Для взрослых")
                        {
                            <div class="class_adoults">
                                <input id="@item.Id" type='submit' name='name' class="category" value='@item.Name'>
                            </div>
                        }

                    }
                }
                <div class="main_flex_prices_classes_line2"></div>
            </div>
            <div class="main_flex_prices_classes_line"></div>

            <div>
                @using (Ajax.BeginForm("SearchByGroup", new { }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "main_flex_prices_time" }))
                {
                    foreach (var item in Model.groups)
                    {
                        if (item.Name == "Группа")
                        {
                            <div class="class_group">
                                <input id="@item.Id" type='submit' name='name' class="group" value='@item.Name'>
                            </div>
                        }
                        if (item.Name == "Индивидуально")
                        {
                            <div class="class_individual">
                                <input id="@item.Id" type='submit' name='name' class="group" value='@item.Name'>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="main_block_prices_content" id="results">
            @{
                Html.RenderPartial("_ViewTariffs", Model.tariffs);
            }
        </div>
    </div>
</div>
<div class="block_reviews">
    <div class="flex_reviews">
        <p class="block_reviews_p">
            Отзывы наших студентов
        </p>
        <div class="block_info_item_line"> </div>
        <div class="block_reviews_content">
            <div class="slider">
                <div class="block_reviews_item">
                    <img src="~/Imgs/photo-teacher@3x.png" alt="">
                    <div class="block_reviews_item_text">
                        <p class="block_reviews_item_name">
                            Максим Воронен
                        </p>
                        <p class="block_reviews_item_grad">
                            Студент вечерних занятий
                        </p>
                        <p class="block_reviews_item_p">
                            In today’s net-savvy world it has become common for any business
                            to have a website which they use mostly for advertising their
                            products and services. With the advent of search engines it has
                            become even easier for the customers to search for the stuff online.
                        </p>
                    </div>
                </div>
                <div class="block_reviews_item">
                    <img src="~/Imgs/photo-teacher@3x.png" alt="">
                    <div class="block_reviews_item_text">
                        <p class="block_reviews_item_name">
                            Максим Воронен
                        </p>
                        <p class="block_reviews_item_grad">
                            Студент вечерних занятий
                        </p>
                        <p class="block_reviews_item_p">
                            In today’s net-savvy world it has become common for any business
                            to have a website which they use mostly for advertising their
                            products and services. With the advent of search engines it has
                            become even easier for the customers to search for the stuff online.
                        </p>
                    </div>
                </div>
                <div class="block_reviews_item">
                    <img src="~/Imgs/photo-teacher@3x.png" alt="">
                    <div class="block_reviews_item_text">
                        <p class="block_reviews_item_name">
                            Максим Воронен
                        </p>
                        <p class="block_reviews_item_grad">
                            Студент вечерних занятий
                        </p>
                        <p class="block_reviews_item_p">
                            In today’s net-savvy world it has become common for any business
                            to have a website which they use mostly for advertising their
                            products and services. With the advent of search engines it has
                            become even easier for the customers to search for the stuff online.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block_about">
    <div class="flex_about">
        <p class="block_about_p">
            О нас
        </p>
        <div class="block_info_item_line"> </div>
        <div class="block_about_content">
            <div class="block_about_item">
                <p class="block_about_item_header">
                    Английский в школе ABC Club
                </p>
                <p class="block_about_item_text">
                    In today’s net-savvy world it has become common for any business
                    to have a website which they use mostly for advertising their
                    products and services. With the advent of search engines it has
                    become even easier for the customers to search for the stuff online.<br><br>

                    For a website to be successful its link should land in the first three
                    pages which the search engine brings and the rank of the page should be high which means
                    many visitors come to the site. This can be achieved by applying search engine optimization
                    or popularly known as SEO.
                </p>

            </div>
            <div class="block_about_item_img">
                <img src="~/Imgs/photo-teacher@3x.png" alt="">
            </div>
            <div class="block_about_item1">
                <p class="block_about_item_header">
                    Английский в школе ABC Club
                </p>
                <p class="block_about_item_text">
                    In today’s net-savvy world it has become common for any business
                    to have a website which they use mostly for advertising their
                    products and services. With the advent of search engines it has
                    become even easier for the customers to search for the stuff online.<br><br>

                    For a website to be successful its link should land in the first three
                    pages which the search engine brings and the rank of the page should be high which means
                    many visitors come to the site. This can be achieved by applying search engine optimization
                    or popularly known as SEO.
                </p>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#1.category").click();
    });
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
