﻿@model ABCClub.Domain.Core.Level
@{
    ViewBag.Title = "Level";
}
    <div class="study_plan_content">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Редактировать", "EditLevel", new { id = Model.Id }, htmlAttributes: new { })
            @Html.ActionLink("Удалить", "DeleteLevel", new { id = Model.Id }, htmlAttributes: new { })
        }
        <div class="study_plan_wrap">
            <h1 class="study_plan_h1">
                @Model.Title
            </h1>
            <div class="study_plan_line"></div>

            <div class="study_plan_item">
                <div class="study_plan_item_text_first">
                    <h1 class="study_plan_h1_first">
                        @Model.FirstParagraphTitle
                    </h1>
                    <p class="study_plan_p_first">
                        @Model.FirstParagraph
                    </p>
                </div>
                <div class="study_plan_item_IMG">
                    <img src="~/Images/@Model.FirstImage" alt="">
                </div>
            </div>
            <div class="study_plan_item">
                <div class="study_plan_item_IMG_1">
                    <img src="~/Images/@Model.SecondImage" alt="">
                </div>
                <div class="study_plan_item_text">
                    <h1 class="study_plan_h1_first">
                        @Model.SecondParagraphTitle
                    </h1>
                    <p class="study_plan_p_first">
                        @Model.SecondParagraph
                    </p>
                </div>
                <div class="study_plan_item_IMG_2">
                    <img src="~/Images/@Model.SecondImage" alt="">
                </div>
            </div>
        </div>
    </div>